.color{
    background-color: black;
    color: antiquewhite;
}
.pending{
    color: red;
}
.done{
    color: black;
}
.flex{
    border: 3px solid black;
    margin-top: 14px;
}
.blue{
    color: blue;
}
.red{
    color: brown;
}